.page {
height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
  min-height: 100%;
  min-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  background-color: black;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*header*/

.main-header {
  display: flex;
  color: white;
  min-height: 300px;
}

.main-header h1 {
  font-size: 60px;
  align-self: center;
  text-shadow: 0 0 40px #ec9129;
}

.main-header img {
  margin-top: 20px;
  margin-left: -35px;
  margin-right: 20px;
}

/*main*/

main {
  color: white;
}

.container {
  width: 1100px;
  text-align: justify;
  margin: 0 auto;
}

.content-list {
  background-color: rgb(34, 30, 30);
  box-shadow: 0 0 20px #ec9129;
  font-size: 16px;
  color: white;
  border-radius: 5px;
  height: 50px;
  display: flex;
  font-weight: bold;
  justify-content: space-around;
  list-style: none;
  align-items: center;
  padding: 0;
  margin-top: 20px;
}

.content-list a {
  color: white;
}

.content-list a:hover {
  color: #ec9129;
  text-shadow: 0 0 15px ;
}

.content-list a:active {
  color: #ec9129;
  opacity: 0.2;
}

.definition {
  background-color: antiquewhite;
  box-shadow: 0 0 20px #ec9129;
  color: black;
  border-radius: 10px;
  min-height: 150px;
  background-image: url(../img/pen.png);
  background-repeat: no-repeat;
  background-position: right 10px bottom 70% ;
  background-size: 10%;
}

.definition h3  {
  color: white;
  background-color: #000000;
  width: 200px;
  text-align: center;
  margin-left: 50px;
  padding: 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.definition p  {
  margin-left: 50px;
  padding-bottom: 30px;
  margin-right: 125px;
  line-height: 30px;
}

.content-header {
  margin-top: 50px;
  margin-bottom: 50px;
}

.header-html {
  display: flex;
  margin-top: 50px;
}

.html-logo {
  background-image: url(../img/html-logo.png);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 70px;
  width: 70px;
}

.header-html h2 {
text-align: right;
}

.header-css {
  display: flex;
  margin-top: 50px;
}

.css-logo {
  background-image: url(../img/css-logo.png);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 70px;
  width: 70px;
}

.header-css h2 {
  text-align: right;
}

.header-js {
  display: flex;
  margin-top: 50px;
}

.js-logo {
  background-image: url(../img/js-logo.png);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 70px;
  width: 70px;
}

.header-js h2 {
  text-align: right;
}

.image {
  text-align: center;
  border-radius: 5px;
}

.image img {
  border-radius: 5px;
}

.content-image {
  background-color: rgb(34, 30, 30);
  box-shadow: 0 0 20px #ec9129;
  color: white;
  border-radius: 5px;
  text-align: center;
  margin: 0;
  padding-bottom: 25px;
}

.content-image img {
border-radius: 5px;
}

figcaption {
  text-align: center;
  padding: 25px 0 25px 25px;
}

.button {
  position: fixed;
  background-color: black;
  opacity: 0.5;
  width:50px;
  height: 60px;
  border-radius: 10px;
  margin-right: 20px;
  position:fixed;
  top:auto;
  bottom:130px;
  left:auto;
  right:10px;
}

.button:hover {
  background-color: rgb(226, 226, 226);
  opacity: 1;
}

.button img {
  padding-top: 5px;
}

footer {
  background-color: rgb(34, 30, 30);
  color: white;
}

footer a {
  color: white;
}

footer div {
  text-align: right;
  width: 300px;
  align-content: right;
  float: right;
  margin-right: 100px;
}

footer a:hover {
  color: #ec9129;
}

footer a:active {
  color: white;
  opacity: 0.2;
}
