.page {
height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
  min-height: 100%;
  min-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*header*/

.main-header {
  display: flex;
  justify-content: space-between;
  background-color: #7d2aeb;
  color: white;
  height: 150px;
}

.main-header h1 {
  align-self: center;
  font-size: 60px;
}

/*main*/

main {
  background-color: rgb(94, 84, 84);
  color: white;
}

.container {
  width: 1100px;
  text-align: justify;
  margin: 0 auto;
}

.content-list {
  background-color: rgb(226, 226, 226);
  color: black;
  border-radius: 5px;
}

.content-list p {
  border-bottom: 3px solid gray;
  padding: 10px;
  padding-left: 20px;
}

.content-list ol {
  color: black;
  font-weight: bold;
  line-height: 30px;
  padding-bottom: 10px;
}
.content-list a {
  color: black;
}

.content-list a:hover {
  color: #7d2aeb;
}

.content-list a:active {
  color: #7d2aeb;
  opacity: 0.2;
}

.definition {
  background-color: antiquewhite;
  color: black;
  border-radius: 10px;
  min-height: 150px;
  box-shadow: 10px 10px 10px;
  background-image: url(../img/pen.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 10% ;
}

.definition h3  {
  color: white;
  background-color: #7d2aeb;
  width: 200px;
  text-align: center;
  margin-left: 50px;
  padding: 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.definition p  {
  margin-left: 50px;
  padding-bottom: 30px;
  margin-right: 120px;
  line-height: 30px;
}

.content h2 {
  margin-top: 50px ;
}

.image {
  text-align: center;
}

.content-image {
  background-color: rgb(226, 226, 226);
  color: black;
  border-radius: 5px;
  text-align: center;
  margin: 0;
  padding-bottom: 25px;
  }

figcaption {
  text-align: left;
  padding: 25px 0 25px 25px;
}

.button {
  position: fixed;
  background-color: rgb(226, 226, 226);
  width:70px;
  height: 75px;
  border-radius: 10px;
  margin-right: 20px;
  position:fixed;
  top:auto;
  bottom:130px;
  left:auto;
  right:10px;
}

.button img {
  padding-top: 10px;
}

footer {
  background-color: black;
  color: white;
}

footer a {
  color: white;
}

footer div {
  text-align: right;
  width: 300px;
  align-content: right;
  float: right;
  margin-right: 100px;
}

footer a:hover {
  color: #7d2aeb;
}

footer a:active {
  color: white;
  opacity: 0.2;
}
